.title {
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffcb05;
  text-shadow: 2px 2px #3b4cca;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pokemon-container {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.pokemon-details {
  width: 300px;
  margin-left: 440px;
  margin-top: -415px;
}
